.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1 {
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
}
.places h2 {
    font-size: 30px;
}
.places article{
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F ;
    border-radius: 4px;
    text-align: center;
}